@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

html {
    font-size: 15px;
}

body {
    font-family: 'Roboto Mono', Arial, sans-serif;
    font-size: 1.5em;
}

main {
    max-width: 1500px;
    margin: 0 auto;
}

.code-snippet {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 1px;
}

a {
    color: darkcyan;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.7em;
}

table td,
table th {
    text-align: left;
    padding: 10px;
}

table thead th {
    font-weight: 700;
    border-bottom: 1px solid #333;
    font-size: 1.1em;
}

table tbody tr:nth-child(2n) {
    background-color: #eee;
}

.button {
    background-color: darkcyan;
    border-radius: 3px;
    padding: 3px 12px;
    color: #fff;
}
